### Iniciando sessão spark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DemoSpark").getOrCreate()
spark

### Leitura do arquivo csv

In [58]:
path_customer = 'data/customer.csv'
# df_customer = spark.read.csv(path = path_customer, header = True, inferSchema = True)
# df_customer = spark.read.option('delimeter', ',').option('header', True).csv(path = path_customer)
df_customer = spark.read.options(delimeter = ',', header = True).csv(path = path_customer, inferSchema = True)

df_customer.show(5)

+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
|CustomerKey|GeoAreaKey|   StartDT|     EndDT|Continent|Gender|Title|GivenName|MiddleInitial|     Surname|    StreetAddress|          City|State|        StateFull|ZipCode|Country|CountryFull|  Birthday|Age|          Occupation|            Company|             Vehicle|  Latitude| Longitude|
+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
|         15|         4|1990-09-10|2034-07-29|Australia|  male|  Mr.|   Julian|            A|    McGuigan|25 Railway Street| Canning Creek|  QLD|       Queensland|   4357|     AU|  Australia|1965-03-24| 55| Border Patrol agent| Cut Rite Lawn Care|2000 Peugeot Kart Up|-27.831694|151.166686|
|         23|         8|1995-08-11|2045-01-26|Australia|female|  Ms.|     Rose|            H|        Dash|92 Foreshore Road|     Guildford|   WA|Western Australia|   6055|     AU|  Australia|1990-05-10| 30|Agricultural and ...|        Rack N Sack|     2005 Volvo XC90|-31.919733|116.047894|
|         36|         2|1992-03-12|2044-05-14|Australia|female|  Ms.|Annabelle|            J|    Townsend|     83 Webb Road|Mayfield North|  NSW|  New South Wales|   2304|     AU|  Australia|1964-07-16| 56|Special education...|       id Boutiques|   1999 Lancia Lybra|-32.881778|151.708086|
|        120|         6|1983-07-23|2033-08-09|Australia|  male|  Mr.|    Jamie|            H|Hetherington|      3 Link Road|       Reekara|  TAS|         Tasmania|   7256|     AU|  Australia|1946-12-11| 74|Dental laboratory...|Showbiz Pizza Place|  2006 Dodge Durango|-39.771044|144.019797|
|        180|         7|1987-11-26|2026-10-14|Australia|  male|  Mr.|  Gabriel|            P|   Bosanquet| 50 Larissa Court|         Yelta|  VIC|         Victoria|   3505|     AU|  Australia|1955-04-24| 65|Administrative su...| Dubrow's Cafeteria|  1995 Morgan Plus 4|-34.127446|142.144448|
+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
only showing top 5 rows

In [ ]:
# Mostrar as columas de um dataframe
df_customer.columns

# Selecionando colunas no do dataframe
customer_columns = ['CustomerKey', 'Continent', 'Gender', 'GivenName', 'MiddleInitial', 'Surname', 'City', 'StateFull', 'CountryFull', 'Age']
df_customer.select(customer_columns).show()

+-------+------------------+-------------+------+---------+-------------+-------+------+-------------+-------------+------------------+
|summary|       CustomerKey|    Continent|Gender|GivenName|MiddleInitial|Surname|  City|    StateFull|  CountryFull|               Age|
+-------+------------------+-------------+------+---------+-------------+-------+------+-------------+-------------+------------------+
|  count|            104990|       104990|104990|   104990|       104990| 104990|104990|       104990|       104990|            104990|
|   mean|1049779.4654538527|         NULL|  NULL|      NaN|          0.0|    NaN|  NULL|         NULL|         NULL|51.896332984093725|
| stddev| 607914.0568468425|         NULL|  NULL|      NaN|         NULL|    NaN|  NULL|         NULL|         NULL|19.359899289118264|
|    min|                15|    Australia|female|        0|            0|'t Hoen|  Aach|     Aberdeen|    Australia|                19|
|    max|           2099743|North America|  male|    Živko|            Ž| Žáková| Ürzig|Île-de-France|United States|                85|
+-------+------------------+-------------+------+---------+-------------+-------+------+-------------+-------------+------------------+

### Mostrar tipos de dados de cada coluna

In [36]:
df_customer.select(customer_columns).dtypes
# df_customer.select(customer_columns).describe().show()
# df_customer.printSchema()

[('CustomerKey', 'int'),
 ('Continent', 'string'),
 ('Gender', 'string'),
 ('GivenName', 'string'),
 ('MiddleInitial', 'string'),
 ('Surname', 'string'),
 ('City', 'string'),
 ('StateFull', 'string'),
 ('CountryFull', 'string'),
 ('Age', 'int')]

### Adicionar e remover colunas

In [50]:
df_customer = df_customer.withColumn('Age Added by 5', df_customer['Age'] + 5)
df_customer.select('Age Added by 5').show(5)

+--------------+
|Age Added by 5|
+--------------+
|            60|
|            35|
|            61|
|            79|
|            70|
+--------------+
only showing top 5 rows

In [51]:
df_customer = df_customer.drop('Age Added by 5')
df_customer.show(5)

+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
|CustomerKey|GeoAreaKey|   StartDT|     EndDT|Continent|Gender|Title|GivenName|MiddleInitial|     Surname|    StreetAddress|          City|State|        StateFull|ZipCode|Country|CountryFull|  Birthday|Age|          Occupation|            Company|             Vehicle|  Latitude| Longitude|
+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
|         15|         4|1990-09-10|2034-07-29|Australia|  male|  Mr.|   Julian|            A|    McGuigan|25 Railway Street| Canning Creek|  QLD|       Queensland|   4357|     AU|  Australia|1965-03-24| 55| Border Patrol agent| Cut Rite Lawn Care|2000 Peugeot Kart Up|-27.831694|151.166686|
|         23|         8|1995-08-11|2045-01-26|Australia|female|  Ms.|     Rose|            H|        Dash|92 Foreshore Road|     Guildford|   WA|Western Australia|   6055|     AU|  Australia|1990-05-10| 30|Agricultural and ...|        Rack N Sack|     2005 Volvo XC90|-31.919733|116.047894|
|         36|         2|1992-03-12|2044-05-14|Australia|female|  Ms.|Annabelle|            J|    Townsend|     83 Webb Road|Mayfield North|  NSW|  New South Wales|   2304|     AU|  Australia|1964-07-16| 56|Special education...|       id Boutiques|   1999 Lancia Lybra|-32.881778|151.708086|
|        120|         6|1983-07-23|2033-08-09|Australia|  male|  Mr.|    Jamie|            H|Hetherington|      3 Link Road|       Reekara|  TAS|         Tasmania|   7256|     AU|  Australia|1946-12-11| 74|Dental laboratory...|Showbiz Pizza Place|  2006 Dodge Durango|-39.771044|144.019797|
|        180|         7|1987-11-26|2026-10-14|Australia|  male|  Mr.|  Gabriel|            P|   Bosanquet| 50 Larissa Court|         Yelta|  VIC|         Victoria|   3505|     AU|  Australia|1955-04-24| 65|Administrative su...| Dubrow's Cafeteria|  1995 Morgan Plus 4|-34.127446|142.144448|
+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
only showing top 5 rows

### Renomear a Coluna

In [55]:
# df_customer.withColumnRenamed('StartDT', 'StartDate').show()
df_customer.withColumnsRenamed({'StartDT': 'StartDate', 'EndDT': 'EndDate'}).show(5)

+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
|CustomerKey|GeoAreaKey| StartDate|   EndDate|Continent|Gender|Title|GivenName|MiddleInitial|     Surname|    StreetAddress|          City|State|        StateFull|ZipCode|Country|CountryFull|  Birthday|Age|          Occupation|            Company|             Vehicle|  Latitude| Longitude|
+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
|         15|         4|1990-09-10|2034-07-29|Australia|  male|  Mr.|   Julian|            A|    McGuigan|25 Railway Street| Canning Creek|  QLD|       Queensland|   4357|     AU|  Australia|1965-03-24| 55| Border Patrol agent| Cut Rite Lawn Care|2000 Peugeot Kart Up|-27.831694|151.166686|
|         23|         8|1995-08-11|2045-01-26|Australia|female|  Ms.|     Rose|            H|        Dash|92 Foreshore Road|     Guildford|   WA|Western Australia|   6055|     AU|  Australia|1990-05-10| 30|Agricultural and ...|        Rack N Sack|     2005 Volvo XC90|-31.919733|116.047894|
|         36|         2|1992-03-12|2044-05-14|Australia|female|  Ms.|Annabelle|            J|    Townsend|     83 Webb Road|Mayfield North|  NSW|  New South Wales|   2304|     AU|  Australia|1964-07-16| 56|Special education...|       id Boutiques|   1999 Lancia Lybra|-32.881778|151.708086|
|        120|         6|1983-07-23|2033-08-09|Australia|  male|  Mr.|    Jamie|            H|Hetherington|      3 Link Road|       Reekara|  TAS|         Tasmania|   7256|     AU|  Australia|1946-12-11| 74|Dental laboratory...|Showbiz Pizza Place|  2006 Dodge Durango|-39.771044|144.019797|
|        180|         7|1987-11-26|2026-10-14|Australia|  male|  Mr.|  Gabriel|            P|   Bosanquet| 50 Larissa Court|         Yelta|  VIC|         Victoria|   3505|     AU|  Australia|1955-04-24| 65|Administrative su...| Dubrow's Cafeteria|  1995 Morgan Plus 4|-34.127446|142.144448|
+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+-----------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+-------------------+--------------------+----------+----------+
only showing top 5 rows

### Mostrar linhas nulas

In [66]:
from pyspark.sql.functions import col
from functools import reduce

condition = reduce(lambda a, b: a | b, [col(c).isNull() for c in df_customer.columns])
null_rows_df = df_customer.filter(condition)
null_rows_df.show()

+-----------+----------+----------+----------+-------------+------+-----+---------+-------------+-----------------+--------------------+-----------------+-----+------------------+-------+-------+-----------+----------+---+--------------------+-------+--------------------+----------+----------+
|CustomerKey|GeoAreaKey|   StartDT|     EndDT|    Continent|Gender|Title|GivenName|MiddleInitial|          Surname|       StreetAddress|             City|State|         StateFull|ZipCode|Country|CountryFull|  Birthday|Age|          Occupation|Company|             Vehicle|  Latitude| Longitude|
+-----------+----------+----------+----------+-------------+------+-----+---------+-------------+-----------------+--------------------+-----------------+-----+------------------+-------+-------+-----------+----------+---+--------------------+-------+--------------------+----------+----------+
|       5720|         2|1981-06-26|2018-11-27|    Australia|  male|  Mr.|   Bailey|            G|          Bracker|      86 Ugoa Street|     Mount George|  NSW|   New South Wales|   2424|     AU|  Australia|1981-03-04| 39|Electronic typese...|   NULL|  2007 Dodge Caravan|-31.599948|151.962429|
|      18236|         2|1992-09-20|2036-06-21|    Australia|  male|  Mr.|   Xavier|            E|            Dunne|  57 Dalgarno Street|              Nea|  NSW|   New South Wales|   2381|     AU|  Australia|1998-05-06| 22|   Coding specialist|   NULL|    2008 Lotus Elise|-31.165915|150.464875|
|      28491|         4|1991-10-14|2039-12-23|    Australia|female|  Dr.|   Tahlia|            S|     Van De Velde|54 Glen William Road|         Bolwarra|  QLD|        Queensland|   4871|     AU|  Australia|1962-10-25| 58|           Architect|   NULL|  2002 Smart ForFour|-16.193522|143.168325|
|      29732|         4|1986-05-15|2018-11-26|    Australia|  male|  Mr.|  Matthew|            M|         Grimmett|      83 Lowe Street|       Myall Park|  QLD|        Queensland|   4415|     AU|  Australia|1953-04-21| 67|    Oxygen therapist|   NULL|  1998 Bentley Turbo|-26.501935|150.115399|
|      34572|         2|1993-05-16|2027-08-24|    Australia|  male|  Mr.|     Finn|            A|          Perkins|     97 Yangan Drive|         Ironbark|  NSW|   New South Wales|   2347|     AU|  Australia|1942-01-26| 79|Professional prop...|   NULL|      1999 Volvo S80|-30.245245|150.666079|
|      57665|         4|1994-03-17|2044-01-04|    Australia|female| Mrs.|     Kate|            A|          Whittle|     73 Ferny Avenue|          Elliott|  QLD|        Queensland|   4670|     AU|  Australia|1991-03-29| 29|Locker room atten...|   NULL|    2005 Pontiac GTO|-24.966843|152.289217|
|      61691|         2|1980-01-10|2042-01-09|    Australia|female|  Ms.| Isabella|            C|            Curmi|    6 Ulomogo Street|           Toongi|  NSW|   New South Wales|   2830|     AU|  Australia|1957-06-07| 63|     General manager|   NULL|  1994 Ford Windstar|-32.282436|148.543477|
|      64998|         7|1986-12-01|2043-08-04|    Australia|female|  Ms.| Scarlett|            Z|           Frazer|    2 Fitzroy Street|        Delacombe|  VIC|          Victoria|   3356|     AU|  Australia|1986-10-01| 34|           Historian|   NULL|  2005 Ford Econovan|-37.629047|143.823276|
|      69102|         2|1981-04-22|2019-09-09|    Australia|  male|  Mr.|      Kai|            A|           Brough|      51 Bass Street|        Blue Knob|  NSW|   New South Wales|   2480|     AU|  Australia|1944-05-01| 76|      Skills trainer|   NULL|  2004 Toyota Previa|-28.703214| 153.26401|
|      89982|         4|1993-04-28|2036-09-29|    Australia|female|  Ms.|     Abby|            T|           Bastow|     66 Savages Road|          Rocklea|  QLD|        Queensland|   4106|     AU|  Australia|1984-07-10| 36|        Veterinarian|   NULL|        2005 BMW 545|-27.461619|153.056512|
|     117713|         2|2003-06-14|2044-12-26|    Australia|female| Mrs.| Isabelle|            E|       Sunderland|64 Edward Bennett...|   Lidcombe North|  NSW|   New South Wales|   2141|     AU|  Australia|1955-09-03| 65|  Operations analyst|   NULL|        2001 BMW 318|-33.777849|151.076737|
|     135961|         4|1991-02-20|2040-02-15|    Australia|female| Mrs.|  Georgia|            S|           Cairns|    27 Boulter Close|        Cullinane|  QLD|        Queensland|   4860|     AU|  Australia|2001-02-05| 19|Multiple machine ...|   NULL|      1996 Lada Niva|-17.526053|145.892703|
|     156297|         3|1983-09-26|2038-12-28|    Australia|  male|  Mr.|     Will|            M|            O'May|     52 William Road|      Tindal Raaf|   NT|Northern Territory|   0853|     AU|  Australia|1970-02-25| 50|Advertising sales...|   NULL|         2011 BMW X3|-14.658666|132.599647|
|     158642|         4|2005-04-06|2035-07-04|    Australia|female|  Ms.| Madeline|            H|        Hannaford|   56 Feather Street|     Landsborough|  QLD|        Queensland|   4550|     AU|  Australia|1988-02-10| 32|Construction engi...|   NULL|    2010 Tata Safari|-26.881968|153.024183|
|     185656|         2|2005-04-09|2040-11-25|    Australia|  male|  Mr.|   Hunter|            L|          Littler|     22 Ocean Street|        The Rocks|  NSW|   New South Wales|   2000|     AU|  Australia|1954-07-11| 66|            Engineer|   NULL|        2015 Audi S6|-33.895617|151.264187|
|     189805|         5|1985-10-21|2024-06-29|    Australia|female|  Ms.| Samantha|            R|         Trollope|    56 Bungana Drive|         Watchman|   SA|   South Australia|   5461|     AU|  Australia|1999-08-02| 21|    Optical mechanic|   NULL| 1998 Proton Persona|-34.220708|138.434582|
|     190159|         7|1992-11-30|2022-12-25|    Australia|female| Mrs.|     Sara|            Z|Papathanasopoulos|  95 Fairview Street|           Kariah|  VIC|          Victoria|   3260|     AU|  Australia|1969-10-20| 51|      Chief engineer|   NULL|     2007 Fiat Siena|-38.196255|143.128301|
|     194618|         2|2008-07-12|2032-07-11|    Australia|  male|  Mr.|     John|            O|          Sampson| 69 Woodlands Avenue|   Guildford West|  NSW|   New South Wales|   2161|     AU|  Australia|2000-07-30| 20|Public safety dis...|   NULL|    1995 Ford Mondeo|-33.800833|150.886733|
|     214557|        19|1981-04-21|2030-08-19|North America|female| Mrs.| Patricia|            A|            Mason|      121 rue Boulay|St Simon De Bagot|   QC|            Quebec|J0H 1Y0|     CA|     Canada|1972-05-14| 48|Oral and maxillof...|   NULL|2004 Ferrari Supe...| 45.659423|-72.856435|
|     236755|        17|1994-12-29|2021-12-04|North America|  male|  Mr.|  William|            J|            Bilbo|     2125 Bay Street|          Toronto|   ON|           Ontario|M5J 2R8|     CA|     Canada|1956-10-02| 64|          Log marker|   NULL|1994 Mitsubishi 3...| 43.606685|-79.366583|
+-----------+----------+----------+----------+-------------+------+-----+---------+-------------+-----------------+--------------------+-----------------+-----+------------------+-------+-------+-----------+----------+---+--------------------+-------+--------------------+----------+----------+
only showing top 20 rows

### Remover linhas com qualquer valor nulo

In [72]:
# Remove toda a linha que qualquer (any) coluna estiver nula, no mínimo duas colunas precisam estar não nulas
df_customer.na.drop(
    how = 'any',
    #thresh = 2,
    subset = ['Age'] # Apenas se a coluna age tiver nula
    ).show()

+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+--------------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+--------------------+--------------------+----------+----------+
|CustomerKey|GeoAreaKey|   StartDT|     EndDT|Continent|Gender|Title|GivenName|MiddleInitial|     Surname|       StreetAddress|          City|State|        StateFull|ZipCode|Country|CountryFull|  Birthday|Age|          Occupation|             Company|             Vehicle|  Latitude| Longitude|
+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+--------------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+--------------------+--------------------+----------+----------+
|         15|         4|1990-09-10|2034-07-29|Australia|  male|  Mr.|   Julian|            A|    McGuigan|   25 Railway Street| Canning Creek|  QLD|       Queensland|   4357|     AU|  Australia|1965-03-24| 55| Border Patrol agent|  Cut Rite Lawn Care|2000 Peugeot Kart Up|-27.831694|151.166686|
|         23|         8|1995-08-11|2045-01-26|Australia|female|  Ms.|     Rose|            H|        Dash|   92 Foreshore Road|     Guildford|   WA|Western Australia|   6055|     AU|  Australia|1990-05-10| 30|Agricultural and ...|         Rack N Sack|     2005 Volvo XC90|-31.919733|116.047894|
|         36|         2|1992-03-12|2044-05-14|Australia|female|  Ms.|Annabelle|            J|    Townsend|        83 Webb Road|Mayfield North|  NSW|  New South Wales|   2304|     AU|  Australia|1964-07-16| 56|Special education...|        id Boutiques|   1999 Lancia Lybra|-32.881778|151.708086|
|        120|         6|1983-07-23|2033-08-09|Australia|  male|  Mr.|    Jamie|            H|Hetherington|         3 Link Road|       Reekara|  TAS|         Tasmania|   7256|     AU|  Australia|1946-12-11| 74|Dental laboratory...| Showbiz Pizza Place|  2006 Dodge Durango|-39.771044|144.019797|
|        180|         7|1987-11-26|2026-10-14|Australia|  male|  Mr.|  Gabriel|            P|   Bosanquet|    50 Larissa Court|         Yelta|  VIC|         Victoria|   3505|     AU|  Australia|1955-04-24| 65|Administrative su...|  Dubrow's Cafeteria|  1995 Morgan Plus 4|-34.127446|142.144448|
|        185|         2|1990-08-01|2029-05-28|Australia|female| Mrs.|Gabrielle|            B|    Castella|74 Old Tenterfiel...|   Mallanganee|  NSW|  New South Wales|   2469|     AU|  Australia|1980-02-23| 40|Management dietitian|            d.e.m.o.|      1997 Alpina B6| -29.01286| 152.83917|
|        189|         7|2008-07-05|2017-11-01|Australia|female|  Ms.|   Hayley|            C|        Jull|  61 McKillop Street|   Rocky Point|  VIC|         Victoria|   3377|     AU|  Australia|1960-04-18| 60|            Sculptor|          Asian Plan|      2006 Alpina B5|-37.339425|142.912375|
|        210|         2|1980-09-28|2030-05-08|Australia|female| Mrs.|  Natalie|            L|      Hilder| 63 Davenport Street|   Paddys Flat|  NSW|  New South Wales|   2632|     AU|  Australia|1950-11-23| 70|    Motel desk clerk|Enrich Garden Ser...|  1995 Ford Fairlane|-36.843376|149.050627|
|        225|         7|1985-06-25|2017-09-25|Australia|  male|  Mr.|   Hunter|            J|    Hutchins|    81 Bayley Street|      Kinglake|  VIC|         Victoria|   3763|     AU|  Australia|1978-07-20| 42|   Teletype operator|       Mr. Good Buys|       2012 Lexus GX| -37.50662|145.440635|
|        243|         2|1982-02-07|2027-02-09|Australia|female|  Ms.|     Maya|            J|    Atherton|    53 Pipeclay Road|        Kindee|  NSW|  New South Wales|   2446|     AU|  Australia|1954-05-15| 66|  Pilates instructor|      Franklin Music|1995 Chevrolet Ca...|-31.362319|152.387033|
|        276|         7|2002-03-10|2021-02-18|Australia|  male|  Mr.|   George|            E|     Angliss|   33 Gaffney Street|Belvedere Park|  VIC|         Victoria|   3198|     AU|  Australia|1967-11-28| 53|        Office clerk|            De Pinna|       2002 Rover 25|-38.030481|145.209039|
|        311|         7|1989-09-13|2026-08-13|Australia|female| Mrs.|    Milla|            H|      Niland|     33 Garden Place|    Teddywaddy|  VIC|         Victoria|   3525|     AU|  Australia|1955-11-28| 65|         Housekeeper|           Multicerv|       1992 Lexus LS|-36.255802|143.479822|
|        322|         2|1993-09-27|2031-06-30|Australia|female|  Ms.|Alexandra|            D|     Stephen|      61 Hart Street|   Green Creek|  NSW|  New South Wales|   2338|     AU|  Australia|1974-07-11| 46|Administrative clerk|              Almacs|2008 Dodge Grand ...|-31.779394|150.972532|
|        385|         5|2004-11-22|2034-12-17|Australia|female|  Ms.|    Katie|            Z|       Oberg|   11 Holthouse Road|Flaxman Valley|   SA|  South Australia|   5235|     AU|  Australia|1997-05-27| 23|   Athletic director|         Kiddie City|1996 Chevrolet Mo...| -34.80327|139.014259|
|        387|         8|1989-06-28|2042-10-13|Australia|female|  Ms.|   Tahlia|            J|   Underwood|85 Point Walter Road|    Coolbellup|   WA|Western Australia|   6163|     AU|  Australia|1985-10-31| 35|Patient represent...|Team Designers an...|2005 Volkswagen S...|-32.067601|115.863483|
|        406|         5|1994-08-16|2042-01-06|Australia|  male|  Mr.|   Oliver|            S|      Corrie|57 Black Point Drive|        Cowell|   SA|  South Australia|   5602|     AU|  Australia|1972-10-21| 48|   Aircraft engineer|Star Merchant Ser...|2000 Mitsubishi M...| -33.59691|136.859651|
|        423|         7|1991-10-21|2045-08-30|Australia|female| Mrs.|    Tayla|            J|  De Maistre|32 Marley Point Road|    Gormandale|  VIC|         Victoria|   3873|     AU|  Australia|1975-11-19| 45|    Power dispatcher|       Audio Visions|1999 SsangYong W ...|-38.264712|146.633908|
|        493|         7|2002-12-24|2038-10-27|Australia|female| Mrs.|     Abby|            C|     Iredale|  20 Swanston Street|     Bangerang|  VIC|         Victoria|   3393|     AU|  Australia|1980-11-30| 40|Material dispatching|       S&W Cafeteria| 2005 Daihatsu Atrai|-36.263742|142.364898|
|        501|         4|2005-11-22|2027-03-01|Australia|  male|  Mr.|   Elijah|            G|     England|   51 Hay Point Road|       Ooralea|  QLD|       Queensland|   4740|     AU|  Australia|1990-04-13| 30|  Medical geographer|Wheels Discount Auto|  1997 Oldsmobile SS|-21.267601|149.075727|
|        505|         2|1985-11-05|2044-11-06|Australia|female| Mrs.|Elizabeth|            J|       Verge|  59 Edgewater Close|    Tapitallee|  NSW|  New South Wales|   2540|     AU|  Australia|1958-06-24| 62|Veterinary techni...|        Exact Realty| 1992 Chrysler Viper|-34.983796|150.590348|
+-----------+----------+----------+----------+---------+------+-----+---------+-------------+------------+--------------------+--------------+-----+-----------------+-------+-------+-----------+----------+---+--------------------+--------------------+--------------------+----------+----------+
only showing top 20 rows

### Preencher valores nulos

In [80]:
df_customer.na.fill('Não Informado', subset = ['Company', 'Vehicle']).filter(df_customer['Company'].isNull()).show()

+-----------+----------+----------+----------+-------------+------+-----+---------+-------------+-----------------+--------------------+-----------------+-----+------------------+-------+-------+-----------+----------+---+--------------------+-------------+--------------------+----------+----------+
|CustomerKey|GeoAreaKey|   StartDT|     EndDT|    Continent|Gender|Title|GivenName|MiddleInitial|          Surname|       StreetAddress|             City|State|         StateFull|ZipCode|Country|CountryFull|  Birthday|Age|          Occupation|      Company|             Vehicle|  Latitude| Longitude|
+-----------+----------+----------+----------+-------------+------+-----+---------+-------------+-----------------+--------------------+-----------------+-----+------------------+-------+-------+-----------+----------+---+--------------------+-------------+--------------------+----------+----------+
|       5720|         2|1981-06-26|2018-11-27|    Australia|  male|  Mr.|   Bailey|            G|          Bracker|      86 Ugoa Street|     Mount George|  NSW|   New South Wales|   2424|     AU|  Australia|1981-03-04| 39|Electronic typese...|Não Informado|  2007 Dodge Caravan|-31.599948|151.962429|
|      18236|         2|1992-09-20|2036-06-21|    Australia|  male|  Mr.|   Xavier|            E|            Dunne|  57 Dalgarno Street|              Nea|  NSW|   New South Wales|   2381|     AU|  Australia|1998-05-06| 22|   Coding specialist|Não Informado|    2008 Lotus Elise|-31.165915|150.464875|
|      28491|         4|1991-10-14|2039-12-23|    Australia|female|  Dr.|   Tahlia|            S|     Van De Velde|54 Glen William Road|         Bolwarra|  QLD|        Queensland|   4871|     AU|  Australia|1962-10-25| 58|           Architect|Não Informado|  2002 Smart ForFour|-16.193522|143.168325|
|      29732|         4|1986-05-15|2018-11-26|    Australia|  male|  Mr.|  Matthew|            M|         Grimmett|      83 Lowe Street|       Myall Park|  QLD|        Queensland|   4415|     AU|  Australia|1953-04-21| 67|    Oxygen therapist|Não Informado|  1998 Bentley Turbo|-26.501935|150.115399|
|      34572|         2|1993-05-16|2027-08-24|    Australia|  male|  Mr.|     Finn|            A|          Perkins|     97 Yangan Drive|         Ironbark|  NSW|   New South Wales|   2347|     AU|  Australia|1942-01-26| 79|Professional prop...|Não Informado|      1999 Volvo S80|-30.245245|150.666079|
|      57665|         4|1994-03-17|2044-01-04|    Australia|female| Mrs.|     Kate|            A|          Whittle|     73 Ferny Avenue|          Elliott|  QLD|        Queensland|   4670|     AU|  Australia|1991-03-29| 29|Locker room atten...|Não Informado|    2005 Pontiac GTO|-24.966843|152.289217|
|      61691|         2|1980-01-10|2042-01-09|    Australia|female|  Ms.| Isabella|            C|            Curmi|    6 Ulomogo Street|           Toongi|  NSW|   New South Wales|   2830|     AU|  Australia|1957-06-07| 63|     General manager|Não Informado|  1994 Ford Windstar|-32.282436|148.543477|
|      64998|         7|1986-12-01|2043-08-04|    Australia|female|  Ms.| Scarlett|            Z|           Frazer|    2 Fitzroy Street|        Delacombe|  VIC|          Victoria|   3356|     AU|  Australia|1986-10-01| 34|           Historian|Não Informado|  2005 Ford Econovan|-37.629047|143.823276|
|      69102|         2|1981-04-22|2019-09-09|    Australia|  male|  Mr.|      Kai|            A|           Brough|      51 Bass Street|        Blue Knob|  NSW|   New South Wales|   2480|     AU|  Australia|1944-05-01| 76|      Skills trainer|Não Informado|  2004 Toyota Previa|-28.703214| 153.26401|
|      89982|         4|1993-04-28|2036-09-29|    Australia|female|  Ms.|     Abby|            T|           Bastow|     66 Savages Road|          Rocklea|  QLD|        Queensland|   4106|     AU|  Australia|1984-07-10| 36|        Veterinarian|Não Informado|        2005 BMW 545|-27.461619|153.056512|
|     117713|         2|2003-06-14|2044-12-26|    Australia|female| Mrs.| Isabelle|            E|       Sunderland|64 Edward Bennett...|   Lidcombe North|  NSW|   New South Wales|   2141|     AU|  Australia|1955-09-03| 65|  Operations analyst|Não Informado|        2001 BMW 318|-33.777849|151.076737|
|     135961|         4|1991-02-20|2040-02-15|    Australia|female| Mrs.|  Georgia|            S|           Cairns|    27 Boulter Close|        Cullinane|  QLD|        Queensland|   4860|     AU|  Australia|2001-02-05| 19|Multiple machine ...|Não Informado|      1996 Lada Niva|-17.526053|145.892703|
|     156297|         3|1983-09-26|2038-12-28|    Australia|  male|  Mr.|     Will|            M|            O'May|     52 William Road|      Tindal Raaf|   NT|Northern Territory|   0853|     AU|  Australia|1970-02-25| 50|Advertising sales...|Não Informado|         2011 BMW X3|-14.658666|132.599647|
|     158642|         4|2005-04-06|2035-07-04|    Australia|female|  Ms.| Madeline|            H|        Hannaford|   56 Feather Street|     Landsborough|  QLD|        Queensland|   4550|     AU|  Australia|1988-02-10| 32|Construction engi...|Não Informado|    2010 Tata Safari|-26.881968|153.024183|
|     185656|         2|2005-04-09|2040-11-25|    Australia|  male|  Mr.|   Hunter|            L|          Littler|     22 Ocean Street|        The Rocks|  NSW|   New South Wales|   2000|     AU|  Australia|1954-07-11| 66|            Engineer|Não Informado|        2015 Audi S6|-33.895617|151.264187|
|     189805|         5|1985-10-21|2024-06-29|    Australia|female|  Ms.| Samantha|            R|         Trollope|    56 Bungana Drive|         Watchman|   SA|   South Australia|   5461|     AU|  Australia|1999-08-02| 21|    Optical mechanic|Não Informado| 1998 Proton Persona|-34.220708|138.434582|
|     190159|         7|1992-11-30|2022-12-25|    Australia|female| Mrs.|     Sara|            Z|Papathanasopoulos|  95 Fairview Street|           Kariah|  VIC|          Victoria|   3260|     AU|  Australia|1969-10-20| 51|      Chief engineer|Não Informado|     2007 Fiat Siena|-38.196255|143.128301|
|     194618|         2|2008-07-12|2032-07-11|    Australia|  male|  Mr.|     John|            O|          Sampson| 69 Woodlands Avenue|   Guildford West|  NSW|   New South Wales|   2161|     AU|  Australia|2000-07-30| 20|Public safety dis...|Não Informado|    1995 Ford Mondeo|-33.800833|150.886733|
|     214557|        19|1981-04-21|2030-08-19|North America|female| Mrs.| Patricia|            A|            Mason|      121 rue Boulay|St Simon De Bagot|   QC|            Quebec|J0H 1Y0|     CA|     Canada|1972-05-14| 48|Oral and maxillof...|Não Informado|2004 Ferrari Supe...| 45.659423|-72.856435|
|     236755|        17|1994-12-29|2021-12-04|North America|  male|  Mr.|  William|            J|            Bilbo|     2125 Bay Street|          Toronto|   ON|           Ontario|M5J 2R8|     CA|     Canada|1956-10-02| 64|          Log marker|Não Informado|1994 Mitsubishi 3...| 43.606685|-79.366583|
+-----------+----------+----------+----------+-------------+------+-----+---------+-------------+-----------------+--------------------+-----------------+-----+------------------+-------+-------+-----------+----------+---+--------------------+-------------+--------------------+----------+----------+
only showing top 20 rows

### Filtrando valores

In [89]:
df_customer.select(['CustomerKey', 'GivenName', 'Age']).filter('Age > 50').show(5)

+-----------+---------+---+
|CustomerKey|GivenName|Age|
+-----------+---------+---+
|         15|   Julian| 55|
|         36|Annabelle| 56|
|        120|    Jamie| 74|
|        180|  Gabriel| 65|
|        189|   Hayley| 60|
+-----------+---------+---+
only showing top 5 rows

In [92]:
df_customer.select(['CustomerKey', 'GivenName', 'Age']).filter(~(df_customer['Age'] > 50) & (df_customer['GivenName'] == 'Julian')).show(5)

+-----------+---------+---+
|CustomerKey|GivenName|Age|
+-----------+---------+---+
|       3429|   Julian| 20|
|      13975|   Julian| 34|
|      30989|   Julian| 45|
|      37298|   Julian| 20|
|      43278|   Julian| 33|
+-----------+---------+---+
only showing top 5 rows

### Agrupamento e agragações

In [93]:
# from pyspark.sql import SparkSession
# spark = SparkSession.builder.appName('Demo').getOrCreate()

In [117]:
path_orderrows = 'data/orderrows.csv'
df_orderrows = spark.read.csv(path_orderrows, header = True, inferSchema = True)
df_orderrows.show(5)

+--------+----------+----------+--------+---------+--------+--------+
|OrderKey|LineNumber|ProductKey|Quantity|UnitPrice|NetPrice|UnitCost|
+--------+----------+----------+--------+---------+--------+--------+
|  139000|         0|       153|       2|  375.976| 375.976| 172.896|
|  139000|         1|      1621|       8|    7.794|   7.794|   3.972|
|  139001|         0|       279|       3|    239.2|  227.24| 121.952|
|  139001|         1|      1806|       1|     22.4|    22.4|  11.417|
|  139002|         0|       125|       2|   114.72| 103.248|  58.488|
+--------+----------+----------+--------+---------+--------+--------+
only showing top 5 rows

In [118]:
# Adicionando coluna de TotalCost e TotalNetPrice
df_orderrows = df_orderrows.withColumns(
    {'TotalCost': df_orderrows['Quantity'] * df_orderrows['UnitCost'],
     'TotalNetPrice': df_orderrows['Quantity'] * df_orderrows['NetPrice']}
)

df_orderrows = df_orderrows.withColumn('TotalProfit', df_orderrows['TotalNetPrice'] - df_orderrows['TotalCost'])
df_orderrows.show()

+--------+----------+----------+--------+---------+--------+--------+------------------+-----------------+------------------+
|OrderKey|LineNumber|ProductKey|Quantity|UnitPrice|NetPrice|UnitCost|         TotalCost|    TotalNetPrice|       TotalProfit|
+--------+----------+----------+--------+---------+--------+--------+------------------+-----------------+------------------+
|  139000|         0|       153|       2|  375.976| 375.976| 172.896|           345.792|          751.952|            406.16|
|  139000|         1|      1621|       8|    7.794|   7.794|   3.972|            31.776|           62.352|30.575999999999997|
|  139001|         0|       279|       3|    239.2|  227.24| 121.952|           365.856|           681.72|315.86400000000003|
|  139001|         1|      1806|       1|     22.4|    22.4|  11.417|            11.417|             22.4|10.982999999999999|
|  139002|         0|       125|       2|   114.72| 103.248|  58.488|           116.976|          206.496| 89.52000000000001|
|  139002|         1|       157|       1|  879.992| 879.992|  404.68|            404.68|          879.992|475.31199999999995|
|  139002|         2|        55|       5|    222.0|   222.0| 73.5525|          367.7625|           1110.0|          742.2375|
|  139002|         3|        43|       6|    174.0|   174.0| 80.0175|           480.105|           1044.0|           563.895|
|  139002|         5|      2361|       1|  82.4925|74.24325|   42.06|             42.06|         74.24325|          32.18325|
|  139002|         6|      2043|       2|  499.455|439.5204|  165.48|            330.96|         879.0408|          548.0808|
|  139003|         0|      1618|       1|   35.394|  35.394|  16.278|            16.278|           35.394|            19.116|
|  139003|         1|      1433|       6|    554.4| 487.872| 254.952|          1529.712|         2927.232|           1397.52|
|  139003|         2|       440|       2|  549.875|494.8875|  280.35|             560.7|          989.775|429.07499999999993|
|  139003|         3|      1624|       2|    131.4| 116.946|  43.536|            87.072|          233.892|            146.82|
|  139003|         4|       960|       8|    236.8| 206.016| 108.896|           871.168|         1648.128| 776.9599999999999|
|  139003|         5|      1630|       2|   13.734|  13.734|   4.548|             9.096|           27.468|            18.372|
|  139004|         0|      1499|       1|    558.0|  513.36| 256.608|           256.608|           513.36|           256.752|
|  139005|         0|      1147|       1|   1048.0|  1048.0| 481.936|           481.936|           1048.0| 566.0640000000001|
|  139005|         1|      1775|       2|     30.1|  26.488|  15.344|            30.688|           52.976|            22.288|
|  139005|         2|      2118|       3|   333.75|290.3625|  153.48|460.43999999999994|871.0875000000001|410.64750000000015|
+--------+----------+----------+--------+---------+--------+--------+------------------+-----------------+------------------+
only showing top 20 rows

In [123]:
df_orderrows.groupBy(['OrderKey', 'ProductKey']).sum('TotalProfit').orderBy(3, ascending = False).show()

+--------+----------+------------------+
|OrderKey|ProductKey|  sum(TotalProfit)|
+--------+----------+------------------+
| 1477041|       600|           33420.6|
| 1377023|       540|           33420.6|
| 1272006|       564|           33420.6|
|  410008|       575|           30692.4|
| 1241025|       551|           30692.4|
| 1395030|       564|29422.199999999997|
| 1234036|       588|           28422.6|
|  677001|       575|          28332.45|
| 1741006|       633|          27623.16|
|  775007|       633|          26855.85|
| 1166002|       588|          26736.48|
| 1510020|       540|          26736.48|
| 1456003|       623|25580.339999999997|
| 1127017|       551|24731.459999999995|
| 1197005|       551|          24553.92|
| 1001016|       611|          24553.92|
| 1391017|       575|          24553.92|
|  658000|       633|           24446.1|
| 2318020|       588|24315.750000000004|
|  524003|       551|           24266.4|
+--------+----------+------------------+
only showing top 20 rows